body{
    margin: 0;
    padding: 0;
}
.box-explore{
    margin-bottom: 50px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
.box-text{
    display: flex;
    flex-direction: column;
    
    
}
.box-text>span{
    font-size: smaller;
}
.box-text>p{
    margin: 0;
    padding: 0;
}
.friend{
    /* padding: 20px; */
    margin-top: 50px;
    border-radius: 15px;
}

.story{
    position: relative;
    width: 200px;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
}

.story>img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.story>div{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    /* padding: 0; */
}

.story>div>.plus{
    text-align: center;
    width: 100%;
    color: white;
    font-size: 30px;
    /* background-color: rgba(0, 0, 0, 0.274); */
   
}
.story>div>span{
    text-align: center;
    width: 100%;
    color: white;
    font-size: 14px;
   
}
.see{
    height: 30px;
}
.up-status{
    width: 100%;
    /* background-color: antiquewhite; */
    border-radius: 15px;
}
.status{
    width: 100%;
    height: 80px;
    overflow: hidden;
    border-radius: 10px;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.status>img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.status>input{
    width: 90%;
    border: none;
    padding: 10px;
    border-radius: 10px;
}
.user-p{
    justify-content: space-between;
}
.user-p>.auther>img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.img-p{
    width: 100%;
    height: 500px;
    overflow: hidden;
    padding: 20px;
}
.img-p>img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.like-c-s{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}
.comment-area{
    width: 100%;
    /* background-color: antiquewhite; */
}
.img-user{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.img-user>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.c-mt{
    /* background-color: rgb(255, 0, 0); */
    padding: 10px;
    border-radius: 50px;
}
.c-mt>input{
    width: 550px;

}
.c-mt>div{
    font-size: 20px;
}