/* style.css */
body {
    font-family: 'Arial', sans-serif;
  }
  
  .carousel-caption h5 {
    font-size: 2rem;
  }
  
  .carousel-caption p {
    font-size: 1.2rem;
  }
  
  .card {
    margin-bottom: 30px;
  }
  
  .card-title {
    font-size: 1.5rem;
  }
  
  .card-text {
    font-size: 1rem;
  }
  