
<header>
    <div class="d-flex justify-content-between">
       
            <div class="col">
              <img src="assets/png-clipart-infinity-logo-illustration-infiniti-infinity-symbol-logo-infinity-logo-text-silhouette 1 (Traced).png" alt="">
            </div>
            <div class="input-search col d-flex justify-content-between">
                <input  type="text" placeholder="Default input" aria-label="default input example">
                <i class="bi bi-search"></i>
            </div>
            <div class="d-flex justify-content-end col">
             <div class="d-flex justify-content-between box-icon">
                <i class="bi bi-house-door-fill"></i>
                <i class="bi bi-bell-fill"></i>
                <i class="bi bi-chat-fill"></i>
                <i class="bi bi-bookmark-fill"></i>
                <i class="bi bi-chat-fill"></i>
             </div>
            </div>
         
    </div>
    <div class="container text-center">
        
      </div>
</header>
